<turbo-frame id="role_basic_info_<%= role.id %>">
  <%= form_with(model: [:admin, role], class: "contents", data: { turbo_frame: "_top" }) do |form| %>
   <%= render "shared/flash_error" %>
    <div class="my-5">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "input input-bordered w-full", required: true %>
    </div>

    <div class="my-5">
        <%= form.label :color, class: "label" %>
        <%= form.color_field :color, class: "w-20 input" %>
    </div>


    <div class="form-control flex justify-end mt-6 gap-2">
        <% if @role.new_record? %>
          <%= link_to t("common.cancel"), admin_roles_path, class: "btn btn-error btn-outline", data: { turbo_frame: "main", turbo_action: "advance" } %>
        <% else %>
          <%= link_to t("common.cancel"), admin_role_path(role), class: "btn btn-error btn-outline", data: { turbo_frame: "role_basic_info" } %>
        <% end %>
        <%= form.submit t("common.save"), class: "btn btn-accent" %>
    </div>
  <% end %>
</turbo-frame>
