<turbo-frame id="user_infos_<%= user.id %>">
  <%= form_with model: user, url: admin_user_path(user), method: :patch,
                data: { turbo_frame: "_top" } do |f| %>

    <%= render "shared/flash_error"%>
    <div class="card bg-base-100 w-full shadow-sm p-4 mt-4">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold"><%= t('common.edit_description') %></h3>
      </div>
      
      <div class="mt-4">
        <div>
          <%= f.label :description, class: "text-sm font-medium" %>
          <%= f.rich_text_area :description, rows: 4, class: "textarea w-full p-1" %>
        </div>
      </div>
    </div>

    <div class="card bg-base-100 w-full shadow-sm p-4 mt-4">
      <div class="flex items-center justify-between mb-4">
        <h3 class="text-lg font-semibold"><%= t('common.edit_personal_information') %></h3>
      </div>
      
      <div class="grid grid-cols-2 gap-4">
        <div>
          <%= f.label :first_name, class: "text-sm font-medium" %>
          <%= f.text_field :first_name, class: "input w-full p-1" %>
        </div>
        <div>
          <%= f.label :last_name, class: "text-sm font-medium" %>
          <%= f.text_field :last_name, class: "input w-full p-1" %>
        </div>
        <div>
          <%= f.label :phone, class: "text-sm font-medium" %>
          <%= f.telephone_field :phone, class: "input w-full p-1" %>
        </div>
      </div>
      
      <div class="mt-4">
        <h4 class="text-md font-semibold mb-2"><%= t('common.address') %></h4>
        <div class="grid grid-cols-2 gap-4">
          <div>
            <%= f.label :street, class: "text-sm font-medium" %>
            <%= f.text_field :street, class: "input w-full p-1" %>
          </div>
          <div>
            <%= f.label :postal_code, class: "text-sm font-medium" %>
            <%= f.text_field :postal_code, class: "input w-full p-1" %>
          </div>
          <div>
            <%= f.label :city, class: "text-sm font-medium" %>
            <%= f.text_field :city, class: "input w-full p-1" %>
          </div>
          <div>
            <%= f.label :country, class: "text-sm font-medium" %>
            <%= f.text_field :country, class: "input w-full p-1" %>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 p-6 bg-base-100 rounded-lg border border-base-300">
      <h3 class="text-lg font-semibold mb-4"><%= t('admin.users.roles.title') %></h3>
      <div class="flex flex-wrap gap-4">
        <% Role.all.each do |role| %>
          <div class="flex items-center space-x-3">
            <%= f.check_box :role_ids, { multiple: true, checked: user.roles.include?(role), class: "checkbox checkbox-accent" }, role.id, nil %>
            <label class="label cursor-pointer">
              <span class="label-text text-sm">
                <%= role.decorate.name %>
              </span>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="flex justify-end mt-4">
      <%= link_to admin_user_path(user), data: { turbo_frame: "_top" }, class: "btn btn-soft btn-error btn-sm mr-2" do %>
        Cancel
      <% end %>
      <%= f.submit "Save", class: "btn btn-accent btn-soft btn-sm" %>
    </div>
  <% end %>
</turbo-frame>
