<div class="card bg-base-100 w-full shadow-sm p-4 mt-4">
  <div class="flex items-center justify-between mb-4">
    <h3 class="text-lg font-semibold"><%= t('common.description') %></h3>
  </div>

  <div>
    <% if user.description.present? %>
      <div class="prose">
        <%= user.description %>
      </div>
    <% else %>
      <p class="text-gray-500"><%= t('common.not_available') %></p>
    <% end %>
  </div>
</div>

<div class="card bg-base-100 w-full shadow-sm p-4 mt-4">
  <div class="flex items-center justify-between mb-4">
    <div class="flex gap-4">
      <h3 class="text-lg font-semibold"><%= t('common.personal_information') %></h3>
      <%= user.decorate.confirmation_badge %>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div>
      <%= label_tag :email, User.human_attribute_name(:email), class: "text-s font-medium" %>
      <span class="block text-sm font-small"><%= user.email %></span>
    </div>
    <div>
      <%= label_tag :phone, User.human_attribute_name(:phone), class: "text-s font-medium" %>
      <span class="block text-sm font-small"><%= user.phone.presence || t('common.not_available') %></span>
    </div>
    <div>
      <%= label_tag :address, User.human_attribute_name(:address), class: "text-s font-medium" %>
      <span class="block text-sm font-small"><%= user.full_address || t('common.not_available') %></span>
    </div>
    <div>
      <%= label_tag :created_at, User.human_attribute_name(:created_at), class: "text-s font-medium" %>
      <span class="block text-sm font-small"><%= l(user.created_at, format: :long) %></span>
    </div>
  </div>
</div>
