<turbo-frame id="permissions_list">
    <%= search_form_for @q,
        url:    new_admin_role_roles_permission_path(role),
        html:   {
            class:      "w-full max-w-4xl mb-6 mx-auto",
            data:       { turbo_frame: "permissions_list" }
        } do |f| %>
        <div class="flex flex-col gap-2 w-full">
            <div class="overflow-x-auto flex items-center gap-2 w-full">
                <label class="input input-bordered flex items-center gap-2 grow">
                <i class="fas fa-search"></i>
                <%= f.search_field :name_cont,
                        placeholder: t("admin.permissions.search.placeholder"),
                        class:       "bg-transparent outline-none w-full" %>
                </label>
            </div>

            <div class="flex items-center gap-2">
                <%= label_tag :per_page, "#{t("common.per_page")}:" %>
                <%= select_tag :per_page, options_for_select([10, 20, 50, 100], params[:per_page].presence || PermissionsWithoutRoleQuery::DEFAULT_PER_PAGE), placeholder: t("admin.common.per_page"), onchange: "this.form.requestSubmit()", class: "select select-bordered" %>
            </div>
        </div>
    <% end %>

        <%= form_with model: [role, RolesPermission.new],
                    url:   admin_role_roles_permissions_path(role),
                    scope: :role_permission,
                    method: :post,
                    data:  { turbo_frame: "main", controller: "select-all enable-submit-button" } do |form| %>

        <% if permissions_available.any? %>

            <div class="mb-4 flex items-center justify-end gap-2">
                <%= label_tag "select_all", t("common.select_all") %>
                <%= check_box_tag "select_all", "1", false,
                    class: "checkbox checkbox-accent",
                    data: {
                        action: "select-all#toggleAll",
                        "select-all-target": "master",
                        "enable-submit-button-target": "checkbox"
                    } %>
            </div>

            <% permissions_available.each do |permission| %>
                <div class="bg-base-200 rounded-lg p-4 flex items-center justify-between">
                <div class="flex items-center space-x-3">
                    <div class="text-sm font-medium"><%= permission.name.titleize %></div>
                </div>
                <%= form.check_box :permission_ids,
                    { multiple: true,
                        class: "checkbox checkbox-accent",
                        data:  { "enable-submit-button-target": "checkbox", "select-all-target": "checkbox" }
                    },
                    permission.id,
                    nil %>
                </div>
            <% end %>

            <div class="flex justify-end mt-4">
                    <%= form.submit t("admin.roles.permissions_list.add_selected_permissions"),
                                    class: "btn btn-accent btn-soft", disabled: true, data: { "enable-submit-button-target": "submitButton" } %>
            </div>
        <% else %>
          <div class="alert alert-info shadow-lg">
            <div>
              <i class="fas fa-shield-alt"></i>
              <span><%= t("admin.roles.permissions_list.no_permissions_available") %></span>
            </div>
          </div>
        <% end %>
        <%= render PaginationComponent.new(collection: permissions_available) %>
        <% end %>
</turbo-frame>
