<turbo-frame id="permissions_list">
    <%= search_form_for @q,
        url:    new_admin_role_roles_permission_path(role),
        html:   {
            class:      "w-full max-w-4xl mb-6 mx-auto",
            data:       { turbo_frame: "permissions_list" }
        } do |f| %>
    <div class="overflow-x-auto flex items-center gap-2 w-full">
        <label class="input input-bordered flex items-center gap-2 grow">
        <i class="fas fa-search"></i>
        <%= f.search_field :name_cont,
                placeholder: t("admin.permissions.search.placeholder"),
                class:       "bg-transparent outline-none w-full" %>
        </label>
    </div>
    <% end %>

        <%= form_with model: [role, RolesPermission.new],
                    url:   admin_role_roles_permissions_path(role),
                    scope: :role_permission,
                    method: :post,
                    data:  { turbo_frame: "main", controller: "enable-submit-button" } do |form| %>

        <% permissions_available.each do |permission| %>
            <div class="bg-base-200 rounded-lg p-4 flex items-center justify-between">
            <div class="flex items-center space-x-3">
                <div class="text-sm font-medium"><%= permission.name.titleize %></div>
            </div>
            <%= form.check_box :permission_ids,
                { multiple: true,
                    class: "checkbox checkbox-accent",
                    data:  { "enable-submit-button-target": "checkbox" }
                },
                permission.id,
                nil %>
            </div>
        <% end %>

        <div class="flex justify-end mt-4">
            <%= form.submit t("admin.roles.permissions_list.add_selected_permissions"),
                            class: "btn btn-accent btn-soft", disabled: true, data: { "enable-submit-button-target": "submitButton" } %>
        </div>

        <%= render PaginationComponent.new(pagy: permissions_available) %>
        <% end %>
</turbo-frame>
