<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Forgot your password?</h1>
      <p class="py-6">
        No problem! Enter your email address and we will send you instructions to reset your password.
      </p>
    </div>

    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "card-body", data: { turbo: false } }) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="form-control">
          <label class="label">
            <span class="label-text"><%= f.label :email %></span>
          </label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
        </div>

        <div class="form-control mt-6">
          <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
        </div>

      <% end %>

      <div class="text-center mt-4 p-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
