<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">Login now!</h1>
      <p class="py-6">
        Welcome back! Please log in to access your account and continue where you left off.
      </p>
    </div>
    <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "card-body", data: { turbo: false } }) do |f| %>
        <div class="form-control">
          <label class="label">
            <span class="label-text"><%= f.label :email %></span>
          </label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input input-bordered" %>
        </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text"><%= f.label :password %></span>
          </label>
          <%= f.password_field :password, autocomplete: "current-password", class: "input input-bordered" %>
          <label class="label">
            <%= link_to "Forgot password?", new_password_path(resource_name), class: "label-text-alt link link-hover" %>
          </label>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-control">
            <label class="cursor-pointer label">
              <%= f.check_box :remember_me, class: "checkbox" %>
              <span class="label-text ml-2"><%= f.label :remember_me %></span>
            </label>
          </div>
        <% end %>

        <div class="form-control mt-6">
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="text-center mt-4 p-6">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
