<dialog id="add_users_modal_<%= @role.id %>" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box relative">
        <%= render "shared/flash_error" %>

        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">
                <i class="fa-solid fa-xmark text-xl"></i>
            </button>
        </form>

        <h3 class="font-bold text-lg mb-1">
        <%= t("admin.roles.add_users.title") %>
        </h3>

        <p class="text-sm mb-4">
        <%= t("admin.roles.add_users.subtitle", role_name: role.decorate.name) %>
        </p>
        
        <turbo-frame id="users_list" src="<%= new_admin_role_user_role_path(@role) %>">
        </turbo-frame>
    </div>
</dialog>


