<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100">
  <table class="table">
    <thead>
      <tr>
        <th><%= t("tables.users.name") %></th>
        <th><%= t("tables.users.email") %></th>
        <th><%= t("tables.users.roles") %></th>
        <th><%= t("tables.users.last_login") %></th>
        <th><%= t("tables.users.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="flex items-center gap-3">
            <%= render(UserAvatarComponent.new(user: user, size: 30)) %>
            <%= user.decorate.full_name %>
          </td>
          <td><%= user.email %></td>
          <td class="flex flex-wrap gap-2">
            <% user.roles.each do |role| %>
              <span class="badge badge-soft badge-<%= role.color.presence || 'neutral' %>">
                <%= role.name.titleize %>
              </span>
            <% end %>
          </td>
          <td><%= user.last_sign_in_at&.strftime("%Y-%m-%d %H:%M") || "Never" %></td>
         <td>
            <div class="dropdown dropdown-end">
              <div tabindex="0" role="button" class="btn btn-ghost">
                <i class="fa-solid fa-ellipsis"></i>
              </div>
              <ul
                tabindex="0"
                class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">

                <li class="menu-title">
                  <%= t("tables.users.actions") %>
                </li>
                 <div class="divider m-0"></div>
                <li>
                  <%= link_to admin_user_path(user), data: { turbo_frame: "main", turbo_action: "advance" } do %>
                    <i class="fa-solid fa-user w-4"></i>
                    <%= t("tables.users.profile") %>
                  <% end %>
                </li>

                <div class="divider m-0"></div>

                <li>
                  <% if can? :destroy, user %>
                    <%= button_to admin_user_path(user),
                                  method: :delete,
                                  data: { turbo_confirm: t("admin.users.actions.confirm_delete") },
                                  class: "text-error" do %>
                      <i class="fa-solid fa-trash w-4"></i>
                      <%= t("tables.users.delete") %>
                    <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
