<div class="card bg-base-100 w-full shadow-sm p-4">
  <div class="flex justify-between w-full">
    <div class="flex space-x-4">
      <%= @user.decorate.avatar_html(size: 150) %>
      <div id="user_name_<%= @user.id %>">
        <h2 class="text-xl font-bold"><%= @user.decorate.full_name %></h2>
      </div>
    </div>

    <div class="flex space-x-1">
      <%= button_to "#", class: "btn btn-accent btn-outline" do %>
        <i class="fa-solid fa-share-nodes"></i>
        <%= t("admin.users.actions.share_profile") %>
      <% end %>

      <% if can? :destroy, @user %>
        <%= button_to admin_user_path(@user),
                      method: :delete,
                      data: {
                        turbo_confirm: t("admin.users.actions.confirm_delete"),
                        turbo_frame: "main"
                      },
                      class: "btn btn-error btn-outline" do %>
          <i class="fa-solid fa-trash"></i>
          <%= t("admin.users.actions.delete_user") %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<turbo-frame id="personal_info_user_<%= @user.id %>">
  <%= render "admin/users/personal_info/fields", user: @user %>
</turbo-frame>
