<!DOCTYPE html>
<html>
<head>
  <title><%= content_for(:title) || "Dashboard" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="turbo-refresh-method" content="morph">



  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
</head>

<body class="h-screen overflow-hidden ">
  <div class="flex h-full" data-controller="dashboard">
    <%= render SidebarComponent.new(current_user: current_user) %>

    <div class="flex flex-col flex-1 min-w-0 bg-base-200">
      <%= render HeadbarComponent.new(current_user: current_user) %>

      <main class="flex-1 overflow-auto p-6 w-full max-w-screen-xl mx-auto">
        <turbo-frame id="main">
          <%= yield %>
        </turbo-frame>
      </main>
    </div>
  </div>
</body>
</html>
